<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/main_layout}">
<th:block layout:fragment="css">
    <style>
        .modal-dialog {
            width: 70%;
            max-width: 50%;
        }
        .thumbnail {
            margin-bottom: 10px;
            width: 100%;
            max-width: 150px;
        }
        .content {
            margin-top: 60px;
        }
        .imgboard {
            height: 500px;
            overflow: auto;
        }
        span {
            height: 30px;
        }
        .img-box {
            text-align: center;
        }
    </style>
</th:block>
<div layout:fragment="content">
    <section class="content">
        <section class="container">
            <header class="text-center">
                <h2>이미지 갤러리</h2>
            </header>
            <input type="hidden" id="page" name="page" value="0">
            <section class="row imgboard" id="galleryCanvas">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <input type="checkbox">
                    <div class="img-box">
                        <img class="thumbnail img-responsive" src="/img/img1.png">
                    </div>
                    <span style="font-size: 20px;">
                        <a href="javascript:void(0)">이미지1</a>
                    </span>
                    <span>저자 | 2023-01-01</span>
                </div>
            </section>
            <section>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center" id="pageArea"></ul>
                </nav>
            </section>
            <section class="row" style="margin-top: 15px;">
                <div class="col-12" style="width: 100%; text-align: right; margin-right: 80px;">
                    <button type="button" class="btn btn-primary" onclick="openModal('add')">글 등록</button>
                    <button type="button" class="btn btn-danger" onclick="openModal('update')">글 수정</button>
                </div>
            </section>
        </section>
    </section>
    <div class="modal fade" tabindex="-1" id="gallModal" aria-labelledby="gallModalLabel" aria-hidden="false" data-bs-focus="false">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="gallModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="gallFrm">
                        <div class="row mb-3">
                            <div class="col-auto pt-1">
                                <label for="title" class="col-form-label">제목</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" id="title" name="title">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-auto pt-1">
                                <label class="col-form-label">파일 : </label>
                            </div>
                            <div class="col-9">
                                <input type="file" class="form-control" id="file" name="file">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="saveGallery()">저장</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        let modalType = '';
        const titles = ['등록', '수정'];

        const openModal = (type) => {
            modalType = type;

            if(modalType === 'add') {
                addModal(titles[0]);
            }
            else {
                updateModal(titles[1]);
            }
        }

        function addModal(title) {
            const addModal = $('#gallModal');
            addModal.modal('show');
            addModal.on('shown.bs.modal', evt => {
                $('#gallModalLabel').text(title);
            })
        }

        function getData() {
            const page = $('#page').val();
            axios.get('/api/v1/gal', {
                params : {page}
            }).then((res) => {
                console.log(res.data);
                drawGalleryPage(res.data);
            });
        }

        function drawGalleryPage(data) {
            const galleryCanvas = $('#galleryCanvas');
            const pageArea = $('#pageArea');

            galleryCanvas.empty();
            pageArea.empty();

            $.each(data.content, (index, obj) => {
                const html = makeGalleryBox(obj);
                galleryCanvas.append(html);
            })

            pageArea.append(data.pageHTML);
        }

        function makeGalleryBox(data) {
            const rootDiv = $('<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"></div>');
            const checkBox = $(`<input type="checkbox" name="imgChk" value="${data.nums}">`);
            const imgBox = $('<div class="img-box"></div>');
            const img = $(`<img src="/static/imgs/thumb/${data.fileThumbName}" alt="${data.title}">`);
            const titleSpan = $(`<span style='font-size: 20px;'></span>`);
            const dateSpan = $(`<span></span>`);
            const link = $(`<a href="javascript:void(0)"></a>`);
            link.text(data.title);
            dateSpan.text(' | ' + data.lastModifiedDate);
            // link.on('click', function() {
                
            // });
            rootDiv.append(checkBox);
            imgBox.append(img);
            rootDiv.append(link);
            rootDiv.append(titleSpan);
            rootDiv.append(dateSpan);
            rootDiv.append(imgBox);

            return rootDiv;
            
        }


        $(document).ready(function() {
            getData();
        });
    </script>
</div>
</html>